@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container{
        @apply mx-auto w-full max-w-6xl  px-4
    }
}

@layer utilities {
    .horizontal {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}
